@model LearningContentViewModel
<div class="side-nav-panel">
    <div class="top-nav-panel">
        <div class="inner-panel">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <partial name="_LogoPartial" />
            </a>
        </div>
    </div>

    @if (Model.Lesson != null && Model.Course != null)
    {
        <div class="Left-Navbar-Partial">

        <div class="backward-wrapper">
            <div>
                <img src="~/images/left-Arrow.png" asp-append-version="true" />
            </div>
            
                <a  asp-action="Login" asp-controller="Account">
                Logout
            </a>
        </div>
        <div class="left-navbar-title">
            <div class="left-navbar-title-inner">
                <i class="bi bi-book"></i>
                <p>@Model.Course.Name</p>
            </div>
        </div>

        <div class="menu-list-panel">
            @foreach (var lesson in Model.Course.Lessons)
                {
                    
                <a href="/classroom/learningcontent/@Model.Course.Id/@lesson.Id">
                <div class="menu-wrapper">
                    <p class="week">@lesson.Weeks.ToString()</p>
                    <div class="week-topic">
                        <div class="marked">
                            <img src="~/images/Layer5.png" asp-append-version="true" />
                        </div>
                        <div class="week-text">
                            <p class="up-text">@lesson.Topic</p>
                            <p class="down-text">1 Topics</p>
                        </div>
                    </div>
                </div>
            </a>
                }
            
        </div>
    </div>
    }
</div>

